{% extends 'main/base.html' %}

{% block content %}
<div>

    <div>Новая локация маршрута:</div>
    <form method="post" action="area/add" class="mb-2 col-md-5">
        {% csrf_token %}
        {{ form }}
        {{ form.name.help_text }}
        {{ form.name.errors }}
        <div class="">
            <input type="submit"  value='Добавить'
                   class="btn btn-primary mt-3 justify-content-end"/>
        </div>
    </form>

    <table class="table table-sm table-hover" width="50%">
        <thead>
        <tr>
            <th class="" width="15%">
                Локация
            </th>
            <th class="">

            </th>
        </tr>
        </thead>
        <tbody>
            {% for area in areas %}
                <tr>
                    <td>{{ area.name }}</td>
                    <td>
                        <form method="post" action="area/delete/{{area.id}}" class="">
                            {% csrf_token %}
                            <input type="submit"  value='Удалить'
                                   class="btn btn-sm btn-outline-danger justify-content-end"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}