<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/" />
    <link rel="stylesheet" href="static/main/styles.css">
    <link rel="stylesheet" href="static/main/bootstrap/bootstrap.min.css">
    <link rel="icon" href="static/main/favicon.ico">
    <title>Такси</title>
</head>

<body class="container bg-light">
    <header class="d-flex align-items-center justify-content-around">
        <a href="/bookings" class="gavno btn p-3">
            Заказы
        </a>
        <a href="/choose-route" class="gavno btn p-3 align-center">
            Расписание рейсов
        </a>
        <a href="/employees" class="gavno btn p-3">
            Водители
        </a>
        <a href="/cars" class="gavno btn p-3">
            Автомобили
        </a>
        <a href="/cities" class="btn p-3 gavno">
            Населенные пункты
        </a>
        <a href="/routes" class="btn p-3 gavno">
            Маршруты
        </a>
        <a href="/areas" class="btn p-3 gavno">
            Локации маршрутов
        </a>
    </header>
    <main class="py-3 px-5">
        <h4>{{ title }}</h4>

        {% block content %}
        {% endblock %}
    </main>


  <script src="static/main/jquery-3.3.1.min.js"></script>
  <script src="static/main/jquery.mask.js"></script>
    <script src="static/main/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>