{% extends 'main/base.html' %}

{% block content %}
<div>

    <div>Новый заказ:</div>
    <form method="post" action="booking/add" class="mb-2 col-md-5">
        {% csrf_token %}
        {{ form }}
        <div class="">
            <input type="submit"  value='Добавить'
                   class="btn btn-primary mt-3 justify-content-end"/>
        </div>
        <!--div-- class="text-success mt-2">Запись успешно добавлена. Пассажир закреплен к существующей поездке.</div-->
    </form>

    <table class="table table-sm table-hover" width="50%">
        <thead>
        <tr>
            <th class="" width="15%">
                Клиент
            </th>
            <th class="" width="20%">
                Маршрут
            </th>
            <th class="" width="15%">
                Дата
            </th>
            <th class="" width="10%">
                Время
            </th>
            <th class="">

            </th>
        </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.client_phone }}</td>
                    <td>
                        {{ booking.scheduled_route.route.start_area }}
                        —
                        {{ booking.scheduled_route.route.finish_area }}
                    </td>
                    <td>{{ booking.date }}</td>
                    <td>{{ booking.scheduled_route.time }}</td>
                    <td>
                        <form method="post" action="booking/delete/{{booking.id}}" class="">
                            {% csrf_token %}
                            <input type="submit"  value='Удалить'
                                   class="btn btn-sm btn-outline-danger justify-content-end"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}