{% extends 'main/base.html' %}

{% block content %}
<div>

    <table class="table table-sm table-hover" width="50%">
        <thead>
        <tr>
            <th class="" width="15%">
                Маршрут
            </th>
            <th class="" width="30%">
                Время выезда
            </th>
            <th class="">

            </th>
        </tr>
        </thead>
        <tbody>
            {% for t in tt %}
                <tr>
                    <td>{{ t.0 }}</td>
                    <td>
                        {% for ti in t.1 %}
                            {{ ti }}
                        {% endfor %}
                    </td>
                    <td>
                        <form method="post" action="route/{{ t.2 }}" class="">
                            {% csrf_token %}
                            <input type="submit"  value='Изменить'
                                   class="btn btn-outline-primary btn-sm justify-content-end"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}