{% extends 'main/base.html' %}

{% block content %}
<div>

    <div>Новое время для маршрута:</div>
    <form method="post" action="route/{{ route.id }}/add-time" class="mb-2 col-md-1">
        {% csrf_token %}
        {{ form }}
        <div class="">
            <input type="submit"  value='Добавить'
                   class="btn btn-primary mt-3 justify-content-end"/>
        </div>
    </form>

    <table class="table table-sm table-hover" width="50%">
        <thead>
        <tr>
            <th class="" width="15%">
                Время отправления
            </th>
            <th class="">

            </th>
        </tr>
        </thead>
        <tbody>
            {% for time in times %}
                <tr>
                    <td>{{ time.time }}</td>
                    <td>
                        <form method="post" action="route/{{ route.id }}/delete-time/{{ time.id }}" class="">
                            {% csrf_token %}
                            <input type="submit"  value='Удалить'
                                   class="btn btn-sm btn-outline-danger justify-content-end"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}